@import url(https://fonts.googleapis.com/css?family=Coda);

.clear {
  clear:both;
}

.circle {
    font-family: 'Coda', cursive;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1.5px;
    position: relative;
    border-radius: 100%;
    background: #ff8c1a;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'Coda', cursive;
  font-style: italic;
  padding-top: 26px;
}

.links {
  padding-top: 26px;
}

.links a {
  color: #ff8c1a;
  font-size: 25px;
  border-bottom: 1px solid #ccddff;
  font-family: 'Coda', cursive;
}

header {
  border-top: 9px solid #67b3ff;
}

hr {
  clear: both;
}

h1 {
  font-family: 'Coda', cursive;
}

h2 {
  font-family: 'Coda', cursive;
}

.next-quote {
  color: #f84342;
  font-family: 'Coda', cursive;
  font-size: 20px;
}

.footer-blurb {
  font-family: 'Coda', cursive;
  font-style: italic;
  font-weight: 100;
  text-align: right;
  font-size: 10px;
}